* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  /* margin: 0; */
  background-image: url('https://wallpapercave.com/wp/wp10809204.jpg');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  /* height: 100vh; */
  /* width: 100vh; */
}

h1 {
  text-align: center;
  margin: 20px 0;
}

h2 {
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  justify-items: center;
  padding: 50px 250px;
}

.card {
  width: 150px;
  cursor: pointer;
}

.reset-btn {
  display: block;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  background-color: lightgreen;
  font-weight: bold;
  font-size: 20px;
}